.App {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
  "header header"
  "navbar content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  border: 1px solid cornflowerblue;
}

.Content {
  grid-area: content;
  border: 1px solid burlywood;
}

.Content img {
  max-width: 100%;
  height: auto;
}
