.Dialogs {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 2fr 10fr;
}

.Names {
  display: flex;
  flex-flow: column;
  padding: 10px;
  margin: 0;
}

.Names a {
  color: black;
  text-decoration: none;
}

.Names a.active {
  color: burlywood;
}

.MessageList {
  padding: 10px;
}

.Message {}
